# Chapter 4 Lab Notebook  
**Topic:** Time Travel & Zero‑Copy Cloning  
**Date generated:** 2025-06-25  

This interactive notebook mirrors the concepts covered in the lecture and worksheet.  
Follow each step; run the SQL cells in order.  

> Use role **SYSADMIN**, database **LAB_DB**, schema **PUBLIC**, warehouse **COMPUTE_WH**.

In [ ]:
-- STEP 0 · Set context & query tag
USE ROLE SYSADMIN;
USE WAREHOUSE compute_wh;
USE DATABASE lab_db;
USE SCHEMA public;

ALTER SESSION SET QUERY_TAG = 'chapter_4_lab';

## 1️⃣ Create `users` table and insert sample data

In [ ]:
-- Create sample table
CREATE OR REPLACE TABLE users (
  user_id     INT,
  username    STRING,
  email       STRING,
  created_at  TIMESTAMP
);

INSERT INTO users VALUES
  (1,'alice','alice@example.com',CURRENT_TIMESTAMP),
  (2,'bob','bob@example.com',CURRENT_TIMESTAMP),
  (3,'carol','carol@example.com',CURRENT_TIMESTAMP);

SELECT * FROM users;

## 2️⃣ Drop the table to simulate accidental deletion

In [ ]:
DROP TABLE users;

## 3️⃣ Restore the table using **Time Travel**

In [ ]:
UNDROP TABLE users;
SELECT * FROM users;

## 4️⃣ Query a past version of the table

In [ ]:
SELECT * FROM users AT (OFFSET => -60);

## 5️⃣ Create a zero‑copy clone

In [ ]:
CREATE OR REPLACE TABLE users_clone CLONE users;
SELECT * FROM users_clone;

## 6️⃣ Modify the clone to demonstrate independence

In [ ]:
INSERT INTO users_clone VALUES (4,'dave','dave@example.com',CURRENT_TIMESTAMP);

-- Verify
SELECT COUNT(*) AS original_rows FROM users;
SELECT COUNT(*) AS clone_rows FROM users_clone;

## 7️⃣ Clean up

In [ ]:
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS users_clone;