# ‚ùÑÔ∏è Chapter 4: Data Lifecycle Features ‚Äì Time Travel, Undrop, and Cloning

In this lab, you will learn how to use **Time Travel**, **Drop/Undrop**, and **Cloning** in Snowflake.
These powerful features allow for version control, recovery from mistakes, and safe experimentation.

## üß™ Step 1: Create and Populate a Table
Create a `users` table and insert a few rows.

In [ ]:
-- TODO: Create the table
-- SYNTAX:
-- CREATE OR REPLACE TABLE <table_name> (<column_name> <datatype>, ...);
-- Table: users
-- Schema:
--   id INT,
--   name STRING,
--   signup_date DATE

-- Enter code here

-- TODO: Insert a few rows
-- SYNTAX:
-- INSERT INTO <table_name> VALUES (...), (...), ...;
-- Row Values to  Insert:
--   (1, 'Alice', '2024-06-01'),
--   (2, 'Bob', '2024-06-15'),
--   (3, 'Charlie', '2024-06-20')

-- Enter code here

In [ ]:
-- TODO: Verify the data
-- SYNTAX:
-- SELECT * FROM <table_name>;
-- Enter code here

In [ ]:
-- TODO: After waiting for at least 1 minute, add additional rows
-- SYNTAX:
-- INSERT INTO <table_name> VALUES (...), (...), ...;   
-- Enter code here

## ‚è≥ Step 2: Query Using Time Travel (OFFSET)
Explore how to retrieve table contents as of an earlier time using **OFFSET**.

In [ ]:
-- TODO: Run a SELECT using OFFSET
-- OFFSET specifies the number of seconds before the current time
-- SYNTAX:
-- SELECT * FROM <table_name> AT (OFFSET => -<seconds>);

-- Enter code here

## üí• Step 3: Drop the Table

In [ ]:
-- TODO: Drop the table users that we created above
-- SYNTAX:
-- DROP TABLE <table_name>;

-- Enter code here

## ‚ôªÔ∏è Step 4: Recover Dropped Table with UNDROP

In [ ]:
-- TODO: Undrop the table
-- SYNTAX:
-- UNDROP TABLE <table_name>;

-- Enter code here

-- Validate recovery using SELECT
-- Enter code here

## üß¨ Step 5: Create a Clone of the Table

In [ ]:
-- TODO: Clone the recovered table
-- SYNTAX:
-- CREATE TABLE <new_table> CLONE <existing_table>;

-- Enter code here

-- Query the clone to verify
-- Enter code here

In [ ]:
--TODO: Make changes to the cloned table
-- SYNTAX:
-- INSERT INTO <table_name> VALUES (...), (...), ...;  
-- Row Values to  Insert:
--   (6, 'Frank', '2024-07-10'),
--   (7, 'Grace', '2024-07-15')
 
-- Enter code here

In [ ]:
--TODO: Compare the original and cloned tables
-- SYNTAX:
-- SELECT * FROM <table_name>;
-- Enter code here

-- TODO SELECT from cloned table
-- Enter code here 

--TODO: Compare the countoriginal and cloned tables
-- SYNTAX:
-- SELECT COUNT(*) FROM <table_name>;
-- Enter code here