# Chapter 4 Lab Notebook  
**Topic:** Time Travel & Zero‑Copy Cloning  
**Date generated:** 2025-06-25  

This interactive notebook mirrors the concepts covered in the lecture and worksheet.  
Follow each step; run the SQL cells in order.  

> Use role **SYSADMIN**, database **LAB_DB**, schema **PUBLIC**, warehouse **COMPUTE_WH**.

In [ ]:
-- STEP 0 · Set context & query tag
USE ROLE SYSADMIN;
USE WAREHOUSE compute_wh;
USE DATABASE lab_db;
USE SCHEMA public;

ALTER SESSION SET QUERY_TAG = 'chapter_4_lab';

## 1️⃣ Create `users` table and insert sample data

In [ ]:
-- TODO: create table and insert rows
-- CREATE OR REPLACE TABLE users ( ... );
-- INSERT INTO users VALUES ( ... );

## 2️⃣ Drop the table to simulate accidental deletion

In [ ]:
-- TODO: DROP TABLE users;

## 3️⃣ Restore the table using **Time Travel**

In [ ]:
-- TODO: UNDROP TABLE users; SELECT * FROM users;

## 4️⃣ Query a past version of the table

In [ ]:
-- TODO: SELECT * FROM users AT (OFFSET => -60);

## 5️⃣ Create a zero‑copy clone

In [ ]:
-- TODO: CREATE OR REPLACE TABLE users_clone CLONE users;

## 6️⃣ Modify the clone to demonstrate independence

In [ ]:
-- TODO: INSERT new row into users_clone and compare counts

## 7️⃣ Clean up

In [ ]:
-- Optional: DROP TABLE IF EXISTS users; DROP TABLE IF EXISTS users_clone;